@model projectnetwork.Models.Admin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<body>


    <div class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">SCE</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div align="center">
                    <div>
                        @{
                            List<SelectListItem> listItems = new List<SelectListItem>();
                            listItems.Add(new SelectListItem
                            {
                                Text = "Admin",
                                Value = "Admin"
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "Lecture",
                                Value = "Lecture",
                                Selected = true
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "Student",
                                Value = "Student"
                            });
                        }
                        @using (Html.BeginForm("Submit", "Admin", FormMethod.Post))
                        {
                            <br />
                            <i>Id:</i> @Html.TextBoxFor(m => m.Id) <br />@Html.ValidationMessageFor(model => model.Id)
                            <br />
                            <i>First name:</i> @Html.TextBoxFor(m => m.FirstName) <br />@Html.ValidationMessageFor(model => model.FirstName)
                            <br />
                            <i>Last name:</i> @Html.TextBoxFor(m => m.LastName) <br />@Html.ValidationMessageFor(model => model.LastName)
                            <br />
                            <i>Username:</i> @Html.TextBoxFor(m => m.UserName) <br />@Html.ValidationMessageFor(model => model.UserName)
                            <br />
                            <i>Password:</i> @Html.TextBoxFor(m => m.Password) <br />@Html.ValidationMessageFor(model => model.Password)
                            <br />
                            <i>@Html.DropDownListFor(m => m.Permmision, listItems, "-- Select Permission --")<br />@Html.ValidationMessageFor(model => model.Permmision)</i>
                            <br />
                            <br />
                            <br />
                            <br />
                            <div align="right">
                                <input name="Add" type="submit" value="Add to db" />
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Permission</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
